<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Foundation | Welcome</title>
	<link rel="stylesheet" href="css/foundation.css"/>
	<script src="js/modernizr.js"></script>
</head>
<body>

<div class="row">
	<div class="large-12 columns">
		<h1>Willkommen bei STUDIDEAL!</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Wir verbinden Studierende!</h3>

			<p>Egal, ob Du eine Aufgabe erledigen möchtest, oder ein Angebot einstellen möchtest-wir untersützen
				dich.</p>

			<div class="row">
				<div class="large-4 medium-4 columns">
					<p><a href="http://foundation.zurb.com/docs">Angebot einstellen.</a><br/>In 2 Minuten zum ersten
						Angebot</p>
				</div>
				<div class="large-4 medium-4 columns">
					<p><a href="http://github.com/zurb/foundation">Auftrag erledigen</a><br/>Schnell und unkompliziert
						einen Gefallen erledigen.</p>
				</div>
				<div class="large-4 medium-4 columns">
					<p><a href="http://twitter.com/foundationzurb">Worum gehts?</a><br/>Wir verbinden Suchende und
						Bietende. Erfahre mehr.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-8 medium-8 small-12 columns">
		<!-- Grid Example -->
		<h5>Noch nicht angemeldet?</h5>

		<form>
			<div class="row">
				<div class="large-12 columns">
					<label>Name</label>
					<input type="text" placeholder="Dein Nachname"/>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Vorname</label>
					<input type="text" placeholder="Dein Vorname"/>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>E-Mail</label>
					<input type="text" placeholder="Deine E-Mail Adresse"/>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Wer bist Du?</label>
					<select>
						<option value="husker">Student</option>
						<option value="starbuck">Lehrkraft</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="large-6 medium-6 columns">
					<label>Du bist..</label>
					<input type="radio" name="pokemon" value="Red" id="pokemonRed"><label
						for="pokemonRed">männlich</label>
					<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label
						for="pokemonBlue">weiblich</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<input class="button" type="submit" value="Konto anlegen">
				</div>
			</div>
		</form>
	</div>

	<div class="large-4 medium-4 columns small-12">
		<h5>Schnellzugriff</h5>

		<div class="panel">
			<h5>Zum Profil</h5>

			<p>Sieh schnell, wer, wann, was</p>
			<a href="http://foundation.zurb.com/docs/" class="small button">Mein Profil</a>
		</div>
	</div>
</div>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>