<div class="row">
	<div class="large-12 columns">
		<h1>Börse</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<!-- Grid Example -->
		<div class="row">
			<div class="large-12 small-12 columns">
				<h2>Mitfahrgelegenheit: Halle-Merseburg</h2>
			</div>
		</div>
		<div class="row">
			<div class="large-9 small-12 columns">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

					Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
					placerat facer</p>
				<ul>
					<li>Lorem</li>
					<li>Ipsum!</li>
				</ul>
			</div>
			<div class="large-3 small-12 columns">
				<p>
					<strong>Status:</strong> <em>offen</em><br/>
					<strong>Eingestellt:</strong> <em>01.12.2013</em>
				</p>
			</div>

		</div>
		<div class="row">
			<div class="large-12 small-12 columns">
				<div id="site-header">
					<h3>
						Kommentare
						<i class="fa fa-comments"></i>
					</h3>
				</div>
				<div id="quote" class="row">
					<div class="large-3 columns cite">
						<span class="author">Cassandra Zamparini</span> (10.12.2013 - 15:05)<br>
					</div>

					<div class="large-9 columns">
						<div class="quotation">
							<p>We greatly underestimated the amount of work that would go into the illustrations - not
								just one animal per header, but one for mobile, tablet, and desktop - they're all
								different. After that, it was a challenge to get a mixture of inline and image SVG's to
								scale proportionately across devices, whilst providing fallbacks for the old IEs.</p>
						</div>
					</div>
				</div>
				<div id="quote" class="row">
					<div class="large-3 columns cite">
						<span class="author">Cassandra Zamparini</span> (10.12.2013 - 15:05)<br>
					</div>

					<div class="large-9 columns">
						<div class="quotation">
							<p>We greatly underestimated the amount of work that would go into the illustrations - not
								just one animal per header, but one for mobile, tablet, and desktop - they're all
								different. After that, it was a challenge to get a mixture of inline and image SVG's to
								scale proportionately across devices, whilst providing fallbacks for the old IEs.</p>
						</div>
					</div>
				</div>
				<div id="quote" class="row">
					<div class="large-3 columns cite">
						<span class="author">Cassandra Zamparini</span> (10.12.2013 - 15:05)<br>
					</div>

					<div class="large-9 columns">
						<div class="quotation">
							<p>We greatly underestimated the amount of work that would go into the illustrations - not
								just one animal per header, but one for mobile, tablet, and desktop - they're all
								different. After that, it was a challenge to get a mixture of inline and image SVG's to
								scale proportionately across devices, whilst providing fallbacks for the old IEs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>