<div class="row">
	<div class="large-12 columns">
		<h1>Börse</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Wie funktionierts?</h3>

			<p>Wähle eine Anfrage aus der Liste.</p>
			<ul>
				<li>melde Interesse beim Ersteller</li>
				<li>einigt euch über die Modalitäten</li>
				<li>markiere deine Aufgabe als erledigt</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<!-- Grid Example -->
		<div class="row">
			<div class="large-9 small-12 columns">
				<h5>Mitfahrgelegenheit: Halle - Merseburg</h5>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
			</div>
			<div class="large-3 small-12 columns">
				<!-- A default button-group with small buttons inside -->
				<ul class="button-group" style="width: 100%;">
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Details" style="width: 100%;">
							<i class="fa fa-external-link"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Kommentare" style="width: 100%;">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button alert tiny" title="Melden" style="width: 100%;">
							<i class="fa fa-flag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-9 small-12 columns">
				<h5>Mitfahrgelegenheit: Halle - Merseburg</h5>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
			</div>
			<div class="large-3 small-12 columns">
				<!-- A default button-group with small buttons inside -->
				<ul class="button-group" style="width: 100%;">
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Details" style="width: 100%;">
							<i class="fa fa-external-link"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Kommentare" style="width: 100%;">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button alert tiny" title="Melden" style="width: 100%;">
							<i class="fa fa-flag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-9 small-12 columns">
				<h5>Mitfahrgelegenheit: Halle - Merseburg</h5>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
			</div>
			<div class="large-3 small-12 columns">
				<!-- A default button-group with small buttons inside -->
				<ul class="button-group" style="width: 100%;">
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Details" style="width: 100%;">
							<i class="fa fa-external-link"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Kommentare" style="width: 100%;">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button alert tiny" title="Melden" style="width: 100%;">
							<i class="fa fa-flag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-9 small-12 columns">
				<h5>Mitfahrgelegenheit: Halle - Merseburg</h5>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
			</div>
			<div class="large-3 small-12 columns">
				<!-- A default button-group with small buttons inside -->
				<ul class="button-group" style="width: 100%;">
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Details" style="width: 100%;">
							<i class="fa fa-external-link"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Kommentare" style="width: 100%;">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button alert tiny" title="Melden" style="width: 100%;">
							<i class="fa fa-flag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-9 small-12 columns">
				<h5>Mitfahrgelegenheit: Halle - Merseburg</h5>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
			</div>
			<div class="large-3 small-12 columns">
				<!-- A default button-group with small buttons inside -->
				<ul class="button-group" style="width: 100%;">
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Details" style="width: 100%;">
							<i class="fa fa-external-link"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button tiny" title="Kommentare" style="width: 100%;">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li style="width: 33%;">
						<a href="#" class="button alert tiny" title="Melden" style="width: 100%;">
							<i class="fa fa-flag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>