<div class="row">
	<div class="large-12 columns">
		<h1>Willkommen bei STUDIDEAL!</h1>
	</div>
</div>

<div class="row">
	<div class="large-8 medium-8 small-12 columns">
		<!-- Grid Example -->
		<h5>Anmeldung</h5>
		{{> form/loginForm}}
	</div>

	<div class="large-4 medium-4 columns small-12">
		<h5>Schnellzugriff</h5>

		<div class="panel">
			<h5>Zum Profil</h5>

			<p>Sieh schnell, wer, wann, was</p>
			<a href="http://foundation.zurb.com/docs/" class="small button">Mein Profil</a>
		</div>
	</div>
</div>